    <!-- Barra de Navegação -->
    <nav class="navbar">
        <div class="logo">
            
        </div>
        <div class="logo">
            <a href="/"> <img src="{{ url_for('static', filename='img/icone_home.png') }}" alt="Hackathon XPe"></a>
            <a href="/">Hackathon XPe</a>
        </div>
        <ul class="nav-links" style="font-size: 32;">
            <li><a href="/">Alugar</a></li>
            <li><a href="/">Comprar</a></li>
            <li><a href="/previsao">Prever valores compra</a></li>

        </ul>
        <div class="login-buttons">
            <a href="/signup" class="btn">Criar Conta</a>
            <a href="/login" class="btn btn-login">Entrar</a>
        </div>
    </nav>